<div *ngIf="!spa">
  <mat-toolbar>
    <mat-toolbar-row>
  
      <button mat-button (click)="goHome()">{{title}}</button>
      <button class="button-items" mat-button (click)="goInformation()">About Us</button>
      <button class="button-items" mat-button (click)="goFooter()">Quick Links</button>
      <button mat-button (click)="goDocumentation()">Documentation</button>
  
      <span class="spacer"></span>
      <div>
        <span>
          <a class="link" target="_blank" href="https://github.com/IBM/BlueXolo" class="fa fa-github fa-lg" matTooltip="GitHub"></a>
        </span>
      </div>
  
      <div class="icon-list">
        <span>
          <a class="link" target="_blank" href="https://app.zenhub.com/workspaces/bluexolo-5c09910d4b5806bc2bfb46c4/boards?repos=159405800" 
          class="zenhub-icon" matTooltip="ZenHub"><img src="./assets/images/zenhub-icon.svg" height="26" width="26" alt="Z"></a>
        </span>
      </div>

      <div class="icon-list">
        <span>
          <a class="link" target="_blank" href="https://groups.google.com/d/forum/bluexolo" class="fa fa-google" matTooltip="Google Groups"></a>
        </span>  
      </div>
  
    </mat-toolbar-row>
  </mat-toolbar>
  
  
    <app-home></app-home>
    <app-line></app-line>
    <app-information></app-information>
    <app-footer></app-footer>
  </div>
  <div *ngIf="spa">
    <router-outlet></router-outlet>
  </div>
  